<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>Customers</h1>
<table>
    <thead>
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${customer.empty}">
        <td colspan="2"> No Customers Found </td>
    </tr>
    <tr th:each="customer : ${customer}">
        <td><span th:text="${customer.firstName}"> First Name </span></td>
        <td><span th:text="${customer.lastName}"> Last Name </span></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>